.App {
  text-align: center;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

img:hover{
  filter: blur(1.5px) brightness(20%);
}
.border-0 {
  position: relative;
}
.card:hover .overlay{
display: block;
}

.card:hover .overlay ~ img{
  filter: blur(1.5px) brightness(20%);
  }
.overlay{
  position: absolute;
  margin-top: 25%;
  z-index: 100;
  font-size: 20px;
  font-weight: bold;
  color: beige;
  display: none;
  text-align: center;
}
img{
  transition: .2s ease;
  position: relative;
}
.cont{
  width: 70%;
  text-align: center;
  margin: auto;
}
.card-footer{
  background-color: #2F333D;
  font-size: 14px;
}

footer{
  background-color: #2F333D;
}

ul{
  list-style-type: none;
}
.footerList li{
  margin: 15px auto;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
